.footer {
    background: #f8f8f8;

    &__container {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-areas:
            "links"
            "socials"
            "newsletter"
            "payments"
            "copyright";
        gap: 3rem;
        padding: 1rem;

        @media (min-width: 800px) {
            grid-template-areas: 
            "links socials"
            "links newsletter"
            "copyright payment";
        }

        @media (min-width: 1200px) {
            max-width: 1200px;
            margin: 0 auto;
        }
    }

    img {
        width: 8.75rem;
        height: 2.5rem;
        object-fit: contain;
    }

    h3 {
        font-size: .75rem;
        font-weight: 700;
        color: #222;
    }

    &__links {
        grid-area: links;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        ul {
            padding: .3125rem;

            b {
                text-transform: uppercase;
            }

            li {
                font-size: .75rem;

                a {
                    color: #666;
                    line-height: 1.4375rem;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    &__socials {
        grid-area: socials;
        
        section {
            ul {
                margin-top: .625rem;
                display: flex;
                align-items: center;
                gap: 1rem;

                li {
                    font-size: 2rem;
                    color: #666;

                    &:hover {
                        color: $blue-color;
                    }
                }
            }
        }
    }

    &__flex {
        display: flex;
        margin-top: .625rem;
    }

    &__newsletter {
        grid-area: newsletter;

        input {
            flex: 1;
            height: 40px;
            outline: none;
            border: .0625rem solid #999;
            font-style: .875rem;
            padding-left: .625rem;
        }

        button {
            width: 9.375rem;
            margin-left: .3125rem;
        }

        p {
            margin-top: .625rem;
            font-style: .75rem;
            color: #666;

            a {
                color: $blue-color;
                text-decoration: underline;
            }
        }
    }

    &__payment {
        grid-area: payment;
    }

    &__flexwrap {
        display: flex;
        flex-wrap: wrap;
        gap: .625rem;
        margin-top: 1rem;

        img {
            width: 3.75rem;
            height: 2.1875rem;
            object-fit: cover;
        }
    }

    &__copyright {
        grid-area: copyright;

        section {
            font-size: .75rem;
            color: #666;
            padding-bottom: .625rem;
        }

        ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 2rem;

            li {
                position: relative;
                text-decoration: underline;

                &::after {
                    content: "";
                    width: .0625rem;
                    height: .9375rem;
                    background: #666;
                    position: absolute;
                    right: -1rem;
                }

                &:last-of-type::after {
                    display: none;
                }
            }
        }
    }
}